<!DOCTYPE HTML>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='index.js') }}"></script>
	<script src="{{ url_for('static', filename='Chart.js') }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Exo:200' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
	<p id="temp" class="hidden centered">{{temp}}</p>
	<canvas id="myChart" width="400" height="400"></canvas>
	<script>
	var ctx = document.getElementById("myChart").getContext("2d");

	var data = {
		labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
		datasets: [
			{
				label: "My First dataset",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: [
				'{{ forecast_list[0] }}',
				'{{forecast_list[1]}}',
				'{{forecast_list[2]}}',
				'{{forecast_list[3]}}',
				'{{forecast_list[4]}}', 
				'{{forecast_list[5]}}',
				'{{forecast_list[6]}}',]
			}]
		};
	var myLineChart = new Chart(ctx).Line(data);
	</script>
</body>
