<!DOCTYPE HTML>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='index.js') }}"></script>
	<script src="{{ url_for('static', filename='Chart.js') }}"></script>
	<link href='http://fonts.googleapis.com/css?family=Exo:200' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
	<p id="temp" class="hidden centered">{{temp}}</p>
	<canvas id="myChart" width="400" height="400"></canvas>
</body>
